body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #000000;
}

header a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

header a:hover {
    color: #fbbf24;
}

.contact-section {
    background-color: #f7fafc;
}

.contact-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

form input, form textarea {
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #ddd;
    background: #f9f9f9;
}

form input:focus, form textarea:focus {
    outline: none;
    border-color: #ecc94b;
    background: #fff;
}

button[type="submit"] {
    background-color: #fbbf24;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #f59e0b;
}

.contact-section .bg-gray-900 a:hover {
    color: #fbbf24;
    text-decoration: underline;
}

footer p {
    font-size: 14px;
    color: #bbb;
}
