
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.bg-gray-900 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-image: url('PS1.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bb {
  font-size: 40px;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  color: white;
}

h1 span {
  opacity: 0;
}


.buttons {
  top: 20px;
  right: 20px;
  position: absolute;
}

.museum-btn,
.museum-hh,
.museum-en,
.museum-nk,
.museum-jg { 
  background: linear-gradient(90deg, #d4af37, #897340);
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 10px 0;
}

.museum-btn:hover,
.museum-hh:hover,
.museum-en:hover,
.museum-nk:hover,
.museum-jg:hover { 
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.museum-btn {
  margin-right: 20px;
}

.museum-jg {
  margin-left: 10px;
}

.museum-en, 
.museum-nk {
  margin-left: 10px;
}

@media (max-width: 640px) {
  h1 {
      font-size: 2rem;
  }

  .buttons {
      top: 10px;
      right: 10px;
  }

  .museum-btn,
  .museum-hh,
  .museum-en,
  .museum-nk {
      font-size: 16px;
  }
}
